body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

  h1#page-title {
    font-size: 72px;
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom:.125em;
    text-align: center;
    color: #307f38;
    font-family: helvetica;
  }

  h1#article-title {
    font-size: 48px;
  }
  
  p {
    background: #dbffdf;
  }
  
  figure {
    border: 1px solid black;
    padding: 12px;
    padding-bottom: 24; 
  }
  
  figure img {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
  }
  
  figure.main-image {
    background: palevioletred;
    border-color: mediumvioletred;
    color: ffffff;
  }

  figure.section-image {
    float: right;
    margin-left: 20px;
    margin-bottom: 32px;
    max-width: 320px;
  }


  p img {
    float: right;
    max-width: 60%;
    margin-left: 20px;
    margin-bottom: 32px;
  }

  a {
    font-weight: bold;
    color: green;
  }

  ul li a {
    text-decoration: none;
  }

  ul li a:hover {
    text-decoration: underline;
  }